<% include ./partials/header %>

<div class="ui main text container segment space">
    <div class="ui huge header">Edit Episode <%= episode.name %></div>
    <form class="ui form" action="/seasons/<%= season._id %>/episodes/<%= episode._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="episode[name]" placeholder="text" value="<%= episode.name %>">
        </div>
		<div class="field">
            <label>Link to video</label>
            <input type="text" name="episode[link]" placeholder="text" value="<%= episode.link %>">
        </div>
		<div class="field">
            <label>Link to subs</label>
            <input type="text" name="episode[subtitles]" placeholder="text" value="<%= episode.subtitles %>">
        </div>
		<div class="field">
            <label>Link to English subs</label>
            <input type="text" name="episode[englishSub]" placeholder="text" value="<%= episode.englishSub %>">
        </div>
		<div class="field">
            <label>Link to Spanish subs</label>
            <input type="text" name="episode[spanishSub]" placeholder="text" value="<%= episode.spanishSub %>">
        </div>
		<div class="field">
            <label>Link to Russian subs</label>
            <input type="text" name="episode[russianSub]" placeholder="text" value="<%= episode.russianSub %>">
        </div>
		<div class="field">
            <label>Link to German subs</label>
            <input type="text" name="episode[germanSub]" placeholder="text" value="<%= episode.germanSub %>">
        </div>
		<div class="field">
            <label>Link to French subs</label>
            <input type="text" name="episode[frenchSub]" placeholder="text" value="<%= episode.frenchSub %>">
        </div>
        <input class="ui violet basic button" type="submit">
    </form>
</div>

<% include ./partials/footer %>