<% include ./partials/header %>

<div class="ui main text container segment space">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" value="<%= blog.title %>">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" value="<%= blog.image %>">
        </div>
        
        <div class="field">
            <label>Text1</label>
            <textarea name="blog[body1]" ><%= blog.body1 %></textarea>
        </div>
		<div class="field">
            <label>Text2</label>
            <textarea name="blog[body2]" ><%= blog.body2 %></textarea>
        </div>
		<div class="field">
            <label>Text3</label>
            <textarea name="blog[body3]"><%= blog.body3 %></textarea>
        </div>
		<div class="field">
            <label>Text4</label>
            <textarea name="blog[body4]"><%= blog.body4 %></textarea>
        </div>
        
        <input class="ui violet basic button" type="submit">
    </form>
</div>

<% include ./partials/footer %>