<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoviePage</title>
	<link href="/stylesheets/movie.css" rel="stylesheet" type="text/css">
	<script src="https://kit.fontawesome.com/dee72ff5c6.js"></script>
</head>
<body>

	<a href="/blogs" class="exit">X</a>
<div class="player">
    <video id="video-active" class="player-video" src="<%= episode.link %>" type="video/webm" autoplay>
        <track kind="subtitles" src="/subs/subtitles.vtt" srclang="en" label="English" data-state="active">
    </video>

    <div class="player-controls">
		<span class="subs">

        </span>
        <div class="progress">
			<div class="filled-progress"></div>
        </div>

        <div class="ply-btn">
            <button class="player-btn toggle-play" title="Toggle Play">
                <svg class="" width="16" height="16" viewBox="0 0 16 16">
                    <title>play</title>
                    <path d="M3 2l10 6-10 6z"></path>
                </svg>
            </button>
        </div>
		<div id="timeline">
			<p>
				<span id="current">00:00:00</span> / <span id="duration">00:00:00</span>
			</p>	
		</div>
		

        <div class="sliders">
			<i class="fas fa-volume-down"></i>
            <input type="range" name="volume" class="player-slider" min="0" max="1" step="0.05" value="1">
			<i class="fas fa-running"></i>
            <input type="range" name="playbackRate" class="player-slider" min="0.5" max="2" step="0.1" value="1">
        </div>

        <button data-skip="-10" class="player-btn">« 10s</button>

        <button data-skip="10" class="player-btn">10s »</button>
		
		
			<div class="dropup">
		  <button class="dropbtn">en</button>
		  <div class="dropup-content">
			  <% if(episode.englishSub){ %>
			  	<a class="en">en</a>
			  <% }
			  if(episode.spanishSub){ %>
			  	<a class="es">es</a>
			  <% }
			  if(episode.russianSub){ %>
			  	<a class="ru">ru</a>
			  <% }
			  if(episode.germanSub){ %>
			  	<a class="ge">ge</a>
			  <%}
			  if(episode.frenchSub){ %>
			  	<a class="fr">fr</a>
			  <% } %>
		  </div>
		</div>

        <button class="player-btn" id="subtitles" type="button" data-state="subtitles">CC</button>

    </div>
</div>     
    
<script>
	
	//show tip with translation when a span is clicked
	function showTip(m) {
		var player = document.querySelector('.player');
		var dropbtn = document.querySelector('.dropbtn');
		var video = player.querySelector('.player-video');
		video.pause();
		var result = <%-JSON.stringify(res)%>;
		var tooltipTexts = document.querySelectorAll('.tooltiptext');
		tooltipTexts.forEach(function(item) {
			item.style.setProperty('visibility', 'hidden', 'important');
		});
		m.querySelector('.tooltiptext').style.setProperty('visibility', 'visible', 'important');
		var orig = m.childNodes[0].nodeValue.toString().replace(/\n/g, " ");
		console.log("ss"+orig+"ss");
		for(var i=0; i<result.length; i++){
			var f=" "+result[i].<%= movie.language %>.toString();
			var s=" "+result[i].<%= movie.language %>.toString()+" ";
			var e=result[i].<%= movie.language %>.toString()+" ";
			var y = result[i].<%= movie.language %>.toString();
			if((orig === f) || (orig === s) || (orig === e) || (orig === y)){
				console.log("Got it!! "+result[i][dropbtn.textContent]);
				m.querySelector('.tooltiptext').textContent = result[i][dropbtn.textContent];
			}
		}
	}
	
	//hide tip when mouse is out of span
	function hideTip() {
		var tooltipTexts = document.querySelectorAll('.tooltiptext');
		tooltipTexts.forEach(function(item) {
			item.style.setProperty('visibility', 'hidden', 'important');
		});
	}
	
	function onTrackedVideoFrame(currentTime, duration){
		
		//formatting currentTime
		var hours = Math.floor(currentTime / 3600);
		if(hours<10) hours = "0"+hours;
		currentTime -= 3600*hours;
		var minutes = Math.floor(currentTime / 60);
		if(minutes<10) minutes = "0"+minutes;
		currentTime -= 60*minutes;
		var seconds = currentTime;
		if(seconds<10) seconds = "0"+seconds;
		
		//formatting duration
		var hours2 = Math.floor(duration / 3600);
		if(hours2<10) hours2 = "0"+hours2;
		duration -= 3600*hours2;
		var minutes2 = Math.floor(duration / 60);
		if(minutes2<10) minutes2 = "0"+minutes2;
		duration -= 60*minutes2;
		var seconds2 = duration;
		if(seconds2<10) seconds2 = "0"+seconds2;
		
		//displaying the timeline
		$("#current").text(hours+":"+minutes+":"+seconds);
		$("#duration").text(hours2+":"+minutes2+":"+seconds2);
}
	
	//when page is loaded, do this
window.addEventListener('DOMContentLoaded', function(){
	
	const player = document.querySelector('.player');
	const en = document.querySelector('.en');
	const es = document.querySelector('.es');
	const ru = document.querySelector('.ru');
	const ge = document.querySelector('.ge');
	const fr = document.querySelector('.fr');
	const dropbtn = document.querySelector('.dropbtn');
	const video = player.querySelector('.player-video');
	const progress = player.querySelector('.progress');
	const progressFilled = player.querySelector('.filled-progress');
	const toggle = player.querySelector('.toggle-play');
	const skippers = player.querySelectorAll('[data-skip]');
	const ranges = player.querySelectorAll('.player-slider');
	const subtitles = player.querySelector('#subtitles');
	
	
	// const loadProgressFilled = player.querySelector('.load-progress');
	
	if(en){
		en.addEventListener('click', function () {
			dropbtn.textContent = "en";
		});
	}
	if(es){
		es.addEventListener('click', function () {
			dropbtn.textContent = "es";
		});
	}
	if(ru){
		ru.addEventListener('click', function () {
			dropbtn.textContent = "ru";
		});
	}
	if(ge){
		ge.addEventListener('click', function () {
			dropbtn.textContent = "ge";
		});
	}
	if(fr){
		fr.addEventListener('click', function () {
			dropbtn.textContent = "fr";
		});
	}
	

	//set up subtitle variables
	var texts = document.getElementsByClassName("subs");
	var txt = texts[0];
	var track = video.textTracks[0];
	track.mode = 'hidden';

	
	subtitles.addEventListener('click', function () {
		if(track.mode=='hidden'){
			track.mode='disabled';
			txt.style.visibility = "hidden";
			txt.textContent = "";
		}else{
			track.mode='hidden';
		}
	});
	
	$("#video-active").on(
    "timeupdate", 
    function(event){
      onTrackedVideoFrame(Math.floor(this.currentTime), Math.floor(this.duration));
    });
	
	//change subtitle text when cue changes
	track.addEventListener('cuechange', function () {

	   var vidCues = track.activeCues;  // array of current cues
		var cue = vidCues[0];
		track.mode = 'hidden';
		if(cue){
			txt.style.visibility = "visible";
			// txt.textContent = vidCues[0].text;
			// var words = txt.textContent.split(/\s+/);
			txt.textContent = "";
			var words = vidCues[0].text;
			txt.innerHTML += "<span class=\"tooltip\" onmouseout=\"hideTip()\" onmouseover=\"showTip(this)\"> "+words+" <span class=\"tooltiptext\">-</span> </span> ";
			
			// for(var i=0; i<words.length; i++){
			// 	txt.innerHTML += "<span class=\"tooltip\" onmouseout=\"hideTip()\" onmouseover=\"showTip(this)\"> "+words[i]+" <span class=\"tooltiptext\">-</span> </span> ";
			// }

		}else{
			//hide subtitles when there is no cue
			txt.style.visibility = "hidden";
			txt.textContent = "";
		}
	});	  

	// Logic

	function togglePlay() {
	  const playState = video.paused ? 'play' : 'pause';
	  video[playState](); // Call play or paused method
	}

	function updateButton() {
	  const togglePlayBtn = document.querySelector('.toggle-play');

	  if(this.paused) {
		togglePlayBtn.innerHTML = `<svg class="" width="16" height="16" viewBox="0 0 16 16"><title>play</title><path d="M3 2l10 6-10 6z"></path></svg>`;
	  } else {
		togglePlayBtn.innerHTML = `<svg width="16" height="16" viewBox="0 0 16 16"><title>pause</title><path d="M2 2h5v12H2zm7 0h5v12H9z"></path></svg>`;
	  }
	}

	function skip() {
	  video.currentTime += parseFloat(this.dataset.skip);
	}

	function rangeUpdate() {
	  video[this.name] = this.value;
	}

	function progressUpdate() {
	  const percent = (video.currentTime / video.duration) * 100;
	  progressFilled.style.flexBasis = `${percent}%`;
	}
	
	// function loadProgressUpdate() {
	// 	if(video.buffered.length > 0){
	// 		const percent = (video.buffered.end(0) / video.duration) * 100;
	//         loadProgressFilled.style.flexBasis = `${percent}%`;
	// 	}
	// }

	
	function scrub(e) {
	  const scrubTime = (e.offsetX / progress.offsetWidth) * video.duration;
	  video.currentTime = scrubTime;
	}

	// Event listeners
	video.addEventListener('click', togglePlay);
	video.addEventListener('play', updateButton);
	video.addEventListener('pause', updateButton);
	video.addEventListener('timeupdate', progressUpdate);
	// video.addEventListener('progress', loadProgressUpdate);

	toggle.addEventListener('click', togglePlay);
	skippers.forEach(button => button.addEventListener('click', skip));
	ranges.forEach(range => range.addEventListener('change', rangeUpdate));
	ranges.forEach(range => range.addEventListener('mousemove', rangeUpdate));

	let mousedown = false;
	progress.addEventListener('click', scrub);
	progress.addEventListener('mousemove', (e) => mousedown && scrub(e));
	progress.addEventListener('mousedown', () => mousedown = true);
	progress.addEventListener('mouseup', () => mousedown = false);
});
</script>
<% include ./partials/footer %>