<% include ./partials/header %>

  <div class="topMargin">
     <div class="row">
      <div class="col-12 col-lg-3">
		  <br>
          <h1>Профиль</h1>
          <p>Email: <%= currentUser.username %></p>
		  <br>
      </div>
      <div class="col-12 col-lg-9">
		  <br>
          <h1>Подписка</h1>
		  <%
		  	var d = new Date();
		    if(d.getTime() < currentUser.expirationDate.getTime()) {
		  %>
		  	<p>Статус: активна</p>
			<p>Срок действия до: <%= currentUser.expirationDate.getDate() %>/<%= (currentUser.expirationDate.getMonth()+1) %>/<%= currentUser.expirationDate.getFullYear() %></p> 
		  <%
			} else {
			%>
		  
          <p>Статус: не активна</p>
          <br>
		  <div class="row">
			  <div class="col-12 col-lg-6">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Bronze</h5>
                <h6 class="card-subtitle mb-2 text-muted">подписка</h6>
                <p class="card-text">Доступ на 1 месяц </p>
                <p class="accent">300 ₽<span class="gray">/месяц</span></p><br>
				  <p class="card-text">Итого: 300 ₽</p><br>
				<form action="/warning1" method="GET">
					<button class="card-link buyBtn" type="submit">Купить</button>
				</form>
              </div>
            </div>
			  </div>
              
            <div class="col-12 col-lg-6">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Silver</h5>
                <h6 class="card-subtitle mb-2 text-muted">подписка</h6>
                <p class="card-text">Доступ на 3 месяца</p>
                <p class="accent">199 ₽<span class="gray">/месяц</span></p><br>
				  <p class="card-text">Итого: <span style="text-decoration:line-through">900 ₽</span> 597 ₽</p><br>
                <form action="/warning2" method="GET">
					<button class="card-link buyBtn" type="submit">Купить</button>
				</form>
              </div>
            </div>
			  </div>
          
		  </div>
          <%
			}
		  %>
      </div>
     </div>
  </div>
    
<script>
	window.onload = function(){
		var select = document.querySelector(".dropdown");
		select.value = "<%= currentUser.language %>";
	};
</script>
 <% include ./partials/footer %>