<% include ./partials/header %>

  <div class="topMargin">
     <div class="row">
      <div class="col-12 col-lg-3">
		  <br>
          <h1>Profile</h1>
          <p>Email: <%= currentUser.username %></p>
		  <br>
      </div>
      <div class="col-12 col-lg-9">
		  <br>
          <h1>Subscription</h1>
		  <%
		  	var d = new Date();
		    if(d.getTime() < currentUser.expirationDate.getTime()) {
		  %>
		  	<p>Status: Active</p>
			<p>Expiration Date: <%= currentUser.expirationDate.getDate() %>/<%= (currentUser.expirationDate.getMonth()+1) %>/<%= currentUser.expirationDate.getFullYear() %></p> 
		  <%
			} else {
			%>
		  
          <p>Status: Not active</p>
          <br>
		  <div class="row">
			  <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Bronze</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 1 month </p>
                <p class="accent">199 ₽<span class="gray">/month</span></p><br>
				  <p class="card-text">Total: 199 ₽</p><br>
				<form action="/warning1" method="GET">
					<button class="card-link buyBtn" type="submit">Buy</button>
				</form>
              </div>
            </div>
			  </div>
              
            <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Silver</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 3 months</p>
                <p class="accent">150 ₽<span class="gray">/month</span></p><br>
				  <p class="card-text">Total: <span style="text-decoration:line-through">600 ₽</span> 450 ₽</p><br>
                <form action="/warning2" method="GET">
					<button class="card-link buyBtn" type="submit">Buy</button>
				</form>
              </div>
            </div>
			  </div>
          
            <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Gold</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 6 months</p>
                <p class="accent">99 ₽<span class="gray">/month</span></p><br>
				  <p class="card-text">Total: <span style="text-decoration:line-through">1200 ₽</span> 594 ₽</p><br>
                <form action="/warning3" method="GET">
					<button class="card-link buyBtn" type="submit">Buy</button>
				</form>
              </div>
            </div>
			  </div>
        
		  </div>
          <%
			}
		  %>
      </div>
     </div>
  </div>
    
<script>
	window.onload = function(){
		var select = document.querySelector(".dropdown");
		select.value = "<%= currentUser.language %>";
	};
</script>
 <% include ./partials/footer %>