<% include ./partials/header %>


<div class="main container">
    <div class="ui huge header"><%= blog.title %></div>
	<div class="card">
	
        <div class="card-img-top">
           <img class="ui centered rounded image" src="<%=blog.image%>">
        </div>
        <div class="card-body">
           <span><%=blog.created.toDateString()%></span>
			
        <div class="card-text">
           <p><%=blog.body%></p>
        </div>
        <br>
            <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" class="inlineButton" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui basic red button">Delete</button>
            </form>
            <form class="inlineButton" action="/blogs/<%= blog._id %>/newcom" method="GET">
                <button class="ui basic green button">Create a comment</button>
            </form>
        </div>
</div>
	
	</div>
<!-- <div class="container">
    <div class="ui huge header">Comments</div>
    <%blog.comments.forEach(function (comment){ %>
        <div class="row">
            <div class="col-md-12">
                <strong><%=comment.author%></strong>
                <span class="pull-right">10 days ago</span>
                <p> <%=comment.text%> </p>
            </div>
        </div>
        <hr>
    <% }); %>
</div>        -->
	
    <br><br>
<% include ./partials/footer %>