<% include ./partials/header %>

<div class="main show">
	<div class="white land" >
		<div class="row">
			<div class="col-12 col-lg-6 showCol">
				
				<img style="border:2px solid gray" src="<%=blog.image%>">
				<br>
				<% if(currentUser && currentUser.isAdmin){ %>
					<a class="btn btn-warning btn-lg" href="/blogs/<%= blog._id %>/edit">Edit</a>
					<form id="delete" class="inlineButton" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger btn-lg">Delete</button>
					</form>
				<% } %>

				<!-- <form class="inlineButton" action="/blogs/<%= blog._id %>/newcom" method="GET">
					<button class="btn btn-success btn-lg">Create a comment</button>
				</form> -->
			</div>
			<div class="col-12 col-lg-6 showCol">
				<h1>
					<%= blog.title %>
				</h1>
				<br>
				<pre><%=blog.description%></pre>
				<br>
				<div class="ui top attached tabular menu">
				  <a class="item active" data-tab="first">First</a>
				  <a class="item" data-tab="second">Second</a>
				</div>
				<div class="ui bottom attached tab segment active" data-tab="first">
				  <a href="/movie">S1E1</a>
				</div>
				<div class="ui bottom attached tab segment" data-tab="second">
				  <a href="/movie">S2E1</a>
				</div>
				
			</div>
		</div>
    </div>
</div>
	<script>
		$('.menu .item').tab();
	</script>
<% include ./partials/footer %>