<% include ./partials/header %>


<div class="main show space">
	<div class="land white" >
		<div>
			<img src="<%=blog.image%>">
			<br><br>
			<h1>
				<%= blog.title %>
			</h1>
			<span><%=blog.created.toDateString()%></span>
			<br><br>
			<pre><%=blog.body1%></pre>
			<br>
			<hr style="border: 1px solid darkgray">
			<br>
				<pre><%=blog.body2%></pre>
			<br>
			<hr style="border: 1px solid darkgray">
			<br>
				<pre><%=blog.body3%></pre>
			<br>
			<hr style="border: 1px solid darkgray">
			<br>
			<pre><%=blog.body4%></pre>
		   <br>
			<% if(currentUser && currentUser.isAdmin){ %>
				<a class="btn btn-warning btn-lg" href="/blogs/<%= blog._id %>/edit">Edit</a>
				<form id="delete" class="inlineButton" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
					<button class="btn btn-danger btn-lg">Delete</button>
				</form>
			<% } %>

			<!-- <form class="inlineButton" action="/blogs/<%= blog._id %>/newcom" method="GET">
				<button class="btn btn-success btn-lg">Create a comment</button>
			</form> -->
		</div>
    </div>
</div>
	
    <br><br>
<% include ./partials/footer %>