<% include ./partials/header %>

<div class="main show">
	<div class="white land" >
		<div class="row">
			<div class="col-12 col-lg-6 showCol">
				
				<img style="border:2px solid gray" src="<%=blog.image%>">
				<br>
				<% if(currentUser && currentUser.isAdmin){ %>
				<br><br>
					<a class="btn btn-warning btn-lg" href="/blogs/<%= blog._id %>/edit">Edit</a>
					<form id="delete" class="inlineButton" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
						<button class="btn btn-danger btn-lg">Delete</button>
					</form>
					<br><br>
                    <form class="inlineButton" action="/blogs/<%= blog._id %>/newseason" method="GET">
						<button class="btn btn-success btn-lg">Create a season</button>
					</form>
				<br><br>
				<% } %>
			</div>
			<div class="col-12 col-lg-6 showCol">
				<h1>
					<%= blog.title %>
				</h1>
				<br>
				<pre><%=blog.description%></pre>
				<br>
				<div class="ui top attached tabular menu seasonmenu">
					<% blog.seasons.forEach(function(season,ind){ %>
					   <% if(ind==0){ %>
					       <a class="item active" data-tab="<%=season.name%>"><%=season.name%></a>
					   <% }else{ %>
						   <a class="item" data-tab="<%=season.name%>"><%=season.name%></a>
						<% } %>
						<% if(currentUser && currentUser.isAdmin){ %>
							<form class="inlineButton" action="/seasons/<%= season._id %>/newepisode" method="GET">
								<button class="btn btn-success">+</button>
							</form>
						<% } %>
					 <% }); %>
					
				</div>
				<% blog.seasons.forEach(function(season,ind){ %>
				  <% var i = 1; %>
					<% if(ind==0){ %>
						<div class="ui bottom attached tab segment active" data-tab="<%=season.name%>">
							<% season.episodes.forEach(function(episode){ %>
								<a href="/movie/<%= blog._id %>/<%= season._id %>/<%= episode._id %>"><%=i%>. <%=episode.name%></a>
							<% if(currentUser && currentUser.isAdmin){ %>
								<a href="/seasons/<%= season._id %>/episodes/<%= episode._id %>/edit"> edit</a>
							<% } %>
							<br>
							<% i++ %>
							<% }); %>
						</div>
				    <% }else{ %>
				        <div class="ui bottom attached tab segment" data-tab="<%=season.name%>">
							<% season.episodes.forEach(function(episode){ %>
								<a href="/movie/<%= blog._id %>/<%= season._id %>/<%= episode._id %>"><%=i%>. <%=episode.name%></a>
							<% if(currentUser && currentUser.isAdmin){ %>
								<a href="/seasons/<%= season._id %>/episodes/<%= episode._id %>/edit"> edit</a>
							<% } %>
							<br>
							<% i++ %>
							<% }); %>
						</div>
				    <% } %>
				  
				<% }); %>
				
			</div>
		</div>
    </div>
</div>
	<script>
		$('.menu .item').tab();
		
	</script>
<% include ./partials/footer %>